body {
    background-color: rgb(209, 210, 235);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    transition: background-color 1s;
}

.heart-header {
    font-size: 100px;
    opacity: 0.8;
    color: rgb(242, 206, 206);
    position: absolute;
    transition: color 1s;
}

.jump-to {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

#jump-to-input {
    background-color: transparent;
    outline: none;
    width: 50px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    text-align: right;
    border-width: 0 0 3px 0;
}

p {
    font-family: 'Lora', serif;
    font-size: 37px;
}

.main-container {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.main-question {
    flex: 1;
    text-align: center;
}

.btn-container {
    padding: 50px;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(255, 250, 240, 0.529);
    font-weight: 100;
    font-size: 30px;
    opacity: 0.7;
    text-align: center;
    outline: 0;
}

#question-num {
    font-size: 350px;
    font-family: 'Work Sans', sans-serif;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.fade-in-num {
    animation: fadein 0.7s forwards;
    opacity: 0;
}

.fade-in-question {
    animation: fadein 2.5s 0.4s forwards;
    opacity: 0;
}

.fade-out-num {
    animation: fadeout 1s forwards;
    opacity: 1;
}

.fade-out-question {
    animation: fadeout 1s forwards;
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

